<div class="container-fluid">
  <h1 class="text-xs-center">Заявки на управление страницей</h1>

  <div>
    <form class="form form-inline">
      <div class="form-group">
        <label for="status">Статус: </label>
        <select id="status" class="form-control" [ngModel]="status" (change)="statusChanged($event)"
                [ngModelOptions]="{standalone: true}">
          <option *ngFor="let status of STATUSES" value="{{status}}">{{status}}</option>
        </select>
      </div>
    </form>
  </div>
  <div class="table-responsive">
    <table class="table table-sm table-bordered table-striped">
      <thead>
      <tr>
        <th>id</th>
        <th>№</th>
        <th>ФИО</th>
        <th>Должность</th>
        <th>clientID</th>
        <th>Телефон</th>
        <th>Email</th>
        <th>Страница</th>
        <th>Дата</th>
        <th>Статус</th>
        <th *ngIf="acl.can('super')">Действия</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let request of requests; let i = index">
        <td>{{request.id}}</td>
        <td>{{i+1}}</td>
        <td>{{request.name}}</td>
        <td>{{request.position}}</td>
        <td>{{request.userId}}</td>
        <td>{{request.phone}}</td>
        <td>{{request.email}}</td>
        <td>
          <object-link [id]="request.subjectId"></object-link>
        </td>
        <td>{{request.created | amDateFormat: 'LL'}}</td>
        <td><span class="label label-default">{{request.status}}</span></td>
        <td *ngIf="acl.can('super')" class="actions">
          <button class="btn btn-sm btn-success-outline" (click)="approve(request)"
                  *ngIf="['active', 'denied'].includes(request.status)"><i class=" fa fa-check"></i>
          </button>
          <button class="btn btn-sm btn-danger-outline" (click)="deny(request)" *ngIf="request.status === 'active'"><i
            class=" fa fa-ban"></i></button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
