.card-block {
  border-radius: 0.3rem;
  display: flex;
  justify-content: space-between;
  // align-items: center;
  *:nth-child(2) {
    text-align: right;
  }
  &:after {
    display: none;  
  }
}

h1 {
  margin-bottom: 0;
}
